body {
  background-color: rgb(255, 255, 255);
  font: 400 3.688em/1.38 Raleway;
  color: #2c3e50;
}

.container {
  float: left;
  width: 100%;
}

.element {
  position: relative;
  float: left;
  z-index: 4;
  width: 100%;
  height: 76px;
  background-color: #bdc3c7;
}

.image {
  display: block;
  height: auto;
  overflow: hidden;
}

._button {
  display: block;
  position: absolute;
  top: 413px;
  left: 16%;
  z-index: 10;
  width: 20.3997395833%;
  min-width: 174px;
  height: 39px;
  border-radius: 3px;
  background-color: #16a085;
  font-size: 0.407em;
  text-align: center;
  color: #ecf0f1;
}

.container-1 {
  position: relative;
  height: 594px;
  min-height: 594px;
  max-height: 594px;
  background: url('../images/backgroung.png') #2c3e50;
  background-size: 1795px 888px;
  background-position: center center;
  overflow: hidden;
}

.container-2 {
  clear: both;
  height: 157px;
  background-color: #2c3e50;
}

.container-3 {
  clear: both;
  height: 76px;
}

.image-1 {
  position: absolute;
  top: 22px;
  right: 13.015625%;
  z-index: 7;
  width: 199px;
}

.image-2 {
  float: left;
  width: 226px;
  margin: 23px 0 0 7.56771%;
}

.image-3 {
  float: left;
  width: 226px;
  margin: 23px 0 0 7.59896%;
}

.text-1 {
  position: absolute;
  top: 266px;
  left: 16%;
  z-index: 9;
  width: 40.7994791666%;
  min-height: 173px;
  font-size: 1em;
  font-weight: 900;
  line-height: 0.88;
  color: #bdc3c7;
}

.text-2 {
  position: absolute;
  top: 160px;
  left: 16%;
  z-index: 8;
  width: 40.7994791666%;
  min-height: 173px;
  font-size: 1em;
  font-weight: 900;
  line-height: 0.88;
  color: #3498db;
}

.text-3 {
  float: left;
  width: 27.19921875%;
  min-height: 61px;
  margin: 44px 0 0 10%;
  font-size: 0.39em;
  color: #16a085;
}

.text-4 {
  position: relative;
  float: left;
  clear: both;
  z-index: 5;
  width: 32.3997395833%;
  min-height: 33px;
  margin: -51px 0 0 57.60026%;
  font-size: 0.271em;
  text-align: right;
  color: #2c3e50;
}

@media(max-width: 500px) {
  .container .element {
    position: relative;
    z-index: 4;
  }

  .container .image {
    height: auto;
  }

  .container ._button {
    width: 34.8%;
    max-width: 174px;
  }

  .container .image-2 {
    position: relative;
    clear: both;
    z-index: 2;
    margin-top: 0;
    margin-left: 27.55938%;
  }

  .container .image-3 {
    position: relative;
    clear: both;
    z-index: 1;
    margin-top: -13px;
    margin-left: 27.55938%;
  }

  .container .text-1 {
    width: 74%;
    font-size: 0.831em;
  }

  .container .text-2 {
    font-size: 0.831em;
  }

  .container .text-3 {
    width: 80%;
    margin-top: 11px;
    text-align: center;
  }

  .container .text-4 {
    position: relative;
    z-index: 5;
    width: 62.4%;
    margin-left: 27.6%;
  }

  .container-1 {
    height: 488px;
  }

  .container-2 {
    height: 293px;
  }
}